@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    margin: auto 3rem;  
    /* background: url("./images/exterior_hero.jpg") no-repeat center fixed; */
    background: linear-gradient(to bottom right, #38A2D7, #561139);
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}



li {
    list-style: none;
}

li:hover {
    color: orange;
}

.gallery-img:hover {
    transform: scale(0.97);
    transition: 0.5s ease-out;       
    opacity: 0.75;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);

}


/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 480px) {

}

