@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    margin: auto 3rem;
    /* background: url("./images/exterior_hero.jpg") no-repeat center fixed; */
    background: linear-gradient(to bottom right, #38A2D7, #561139);
    overflow: hidden;
    color: white;
}


li:hover {
    color: orange;
}

.App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {

    }
  }

@media screen and (max-width: 480px) {
    img.bg {
        
    }
    
}

